<div class="text-center mb-4">
  <h1 class="display-5 fw-bold">Users</h1>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <% @users.each do |user| %>
    <div class="col">
      <div class="card shadow-sm h-100 animate__animated animate__zoomIn">
        <div class="card-body">
          <h5 class="card-title"><%= link_to user.email, user_path(user), class: 'stretched-link text-decoration-none' %></h5>
          <p class="card-text">Roles: <%= user.roles.pluck(:name).join(', ') %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>