.ml-10.flex.items-baseline.space-x-4
  - if user_signed_in?
    = link_to "Companies", companies_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
    = link_to "Employees", employees_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"