@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background: linear-gradient(135deg, #4f46e5, #9333ea);
  color: #ffffff;
}

h1, h5 {
  color: #ffffff;
}

.card {
  border: none;
  color: #000000;
}

@layer utilities {
  @keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-up {
    animation: fade-up 0.6s ease-out;
  }
}