doctype html
html
  head
    = render "shared/head"
  body.min-h-screen.flex.flex-col.bg-gray-100.text-gray-900 data-controller="notifications"
    = render "shared/notifications_toast"

    = render "shared/navbar"

    main.flex-grow.container.mx-auto.px-4.py-6.animate-fadeIn
      = yield
    script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"